# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/eduDP.iml
/misc.xml
/modules.xml
/saveactions_settings.xml
